body {
     margin: 0px;
     padding:0px;
     font-family: "Lobster", Arial, Helvetica, sans-serif;
     background-color: #f4f4f4;
}

header {
    background-color: #333;
    color:white;
    padding:10px;
    text-align: center;
}

nav a {
color: white;
text-decoration: none;
margin: 0 10px;
}

nav a:hover{
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
        background-color: #333;
        color:white;
        padding:10px;
        text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}